<h1> Student Form </h1>
<%= form_for (@student) do |s| %>
<lable> Student First Name </label>
  <%= s.text_field :first_name %>
<lable> Student Last Name </label>
  <%= s.text_field :last_name %>
  <%= s.submit %>
  <% end %>
