<h1> School Class Form: New School Class Input </h1>

<%= form_for(@school_class) do |f| %>
  <label>Class name:</label><br>
  <%= f.text_field :title %><br>

  <label>Class room number:</label><br>
  <%= f.text_area :room_number %><br>

  <%= f.submit %>
<% end %>
